<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    @model Login
    <form action="/create/login" method="post" class="contain">
        <div class="form-group">
            <span asp-validation-for="LEmail"></span>
            <label asp-for="LEmail"></label>
            <input asp-for="LEmail">
        </div>

        <div class="form-group">
            <span asp-validation-for="LPassword"></span>
            <label asp-for="LPassword"></label>
            <input asp-for="LPassword">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</body>
</html>